<div class="courses-panel">

  <h3>All Courses</h3>

  <mat-tab-group>

    <mat-tab label="Beginners">
      <!-- El pipe async no solo se subscribe al observable para actualizarlo en el template,
           si no que cuando el componente es destruido este de desuscribe del observable  -->
      <courses-card-list [courses]="beginnerCourses$ | async"></courses-card-list>

    </mat-tab>

    <mat-tab label="Advanced">
      <courses-card-list [courses]="advancedCourses$ | async"></courses-card-list>
    </mat-tab>

  </mat-tab-group>



</div>
